.Auth {
  margin-top: 75px;
  padding: 3%;
  min-height: calc(100vh - 75px);
  // background-image: url("../assets/img/golden-bitcoin-mail-hands 1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    max-width: 502px;
    background-color: var(--main-color);

    .header {
      background-color: var(--header-color);
      height: 80px;
      color: var(--main-color);
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .body {
      padding: 8%;

      .input {
        height: 80px;
        border-bottom: 1px solid var(--font-color3);
        display: flex;
        align-items: center;
        position: relative;

        input {
          color: var(--font-color2);
          font-size: 22px;
          direction: ltr;
          text-align: left;
          /*height: 100%;*/
          width: 100%;

          &::placeholder {
            opacity: 1;
            text-align: center;
            color: var(--font-color3);
          }
        }

        img {
          cursor: pointer;
        }
      }

      p:first-of-type {
        font-size: 18px;
        color: var(--font-color3);
        text-align: right;
        margin-top: 10px;

        a {
          color: var(--font-color3);
          text-decoration: underline;
        }

        img {
          margin-left: 10px;
          margin-bottom: -3px;
        }
      }

      .btn {
        margin-top: 70px;
        margin-bottom: 100px;
      }

      p:last-of-type {
        font-size: 22px;
        color: var(--font-color3);
        text-align: center;
        margin-top: 10px;

        a {
          margin-right: 10px;
          color: var(--font-color3);
          text-decoration: underline;
        }
      }
    }
  }
}