.main-box {
  .vpd-main {
    border: 1px rgba(24, 43, 78, 0.2) solid ;
    height: 29px;
    border-radius: 5px;
    //padding: 2px 20px;
    //padding-left: 20px;
    width: 100%;
    background-color: var(--gray-back2);
    overflow: hidden;

    &:hover {
      border-color:rgba(24, 43, 78, 0.5);
    }
  }

  .vpd-input-group {
    display: flex;
    height: 100%;
    width: 100%;

    .vpd-icon-btn {
      min-width: 40px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .form-control {
      width: calc(100% - 20px);
      height: 100%;
      border: none;
      font-size: 14px;
    }

    .vpd-clear-btn {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .vpd-header {
    color: var(--font-color2) !important;
  }
}