:root {
  --font-light: black;
  --font-dark: #fff;
  --main-color: #ffcb04;
  --second-color: #cc1e1e;
  --main-dark: #0a293d;
  --main-grey: grey;
  --background-light: #031a27;
  --background-dark: #222222;
  --box-background-light: #eaeaf3;
  --box-background-dark: #FDFDFD;
  --box-background-dark-hover: #0a293d;
  --drop-background-light: #fff;
  --drop-background-dark: #222222;
  --hover-light: rgba(74, 165, 243, 0.1);
  --hover-dark: rgba(255, 203, 4, 0.1);
  --shadow-light: 0 0 4px 2px rgba(0, 0, 0, 0.15);
  --shadow-dark: 0 0 4px 2px rgba(255, 255, 255, 0.4);
  --btn-color1: #4aa5f3;
  --btn-color2: #278fe8;
  --btn-color1-light: #8ae224;
  --btn-color2-light: #76c120;
  --border-light: rgba(0, 0, 0, 0.15);
  --border-dark: rgba(255, 255, 255, 0.4);
  --dark: #131722;
  --main-orange: #f8b200;
  --main-green: #72a923;
  --main-green-hover: #72a92333;
  --main-red: #d5187b;
  --main-red-hover: #d5187b33;
  --secend-color: #9dcb67;
  --modal-backdrop: rgba(0, 0, 0, 0.4);
  --border-radius: 10px;
}

* {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  font-family: VistaDev, sans-serif;
}

* ul {
  padding-right: 0;
}

a {
  color: var(--font-light);
}

/* h2 {
  color: var(--font-dark);
} */

body {
  font-family: IRANSans, sans-serif;
  text-align: center;
  background-color: var(--background-light);
  width: 100%;
  direction: rtl;
  margin: 0;
  color: var(--font-light);
}

.container1 {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: calc(100vh - 50px);
  width: 100%;
  direction: rtl;
  padding: 20px 0;
}

.png-tint {
  filter: invert(90%) sepia(16%) saturate(5963%) hue-rotate(353deg) brightness(100%) contrast(104%);
}

.Auth-box {
  vertical-align: top;
  background-color: var(--box-background-light);
  text-align: right;
  box-shadow: 0 2px 12px 15px rgba(0, 0, 0, 0.02);
  padding: 30px 50px 20px 50px;
  margin: 20px 2% 10px;
  box-sizing: border-box;
  border-radius: 5px;
  height: 100%;
}

.Auth-box h3 {
  font-weight: 600;
  margin: 0 0 50px;
  padding: 0;
  color: var(--font-light);
  text-align: center;
  letter-spacing: -1px;
}

.Auth-box p {
  margin: 0 0 40px;
  padding: 0;
  color: var(--font-light);
  text-align: center;
  letter-spacing: -1px;
}

.Auth-box .user-box {
  position: relative;
}

.Auth-box .user-box.text input {
  text-align: left;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: var(--font-light);
  margin-bottom: 30px;
  border-bottom: 1px solid var(--border-light);
  background: transparent;
}

.Auth-box .user-box.text.code input {
  letter-spacing: 40px;
  font-size: 50px;
  border-bottom: 13px var(--border-light) dashed;
}

.Auth-box .user-box.text label {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var(--font-light);
  pointer-events: none;
  transition: 0.5s;
}

.Auth-box .user-box.text input:focus ~ label,
.Auth-box .user-box.text input:valid ~ label {
  top: -20px;
  right: 0;
  color: var(--main-grey);
  font-size: 12px;
}

.normal-btn {
  font-family: IRANSans-Bold, sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  position: relative;
  width: 100%;
  padding: 9px;
  background: linear-gradient(to bottom, var(--btn-color1), var(--btn-color2) 76%);
  font-size: 16px;
  transition: 0.5s;
  margin-top: 30px;
  cursor: pointer;
}
.normal-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.home .normal-btn,
.btn-dark {
  background: linear-gradient(to bottom, var(--btn-color1-light), var(--btn-color2-light) 76%);
}

.normal-btn:hover {
  background: linear-gradient(to top, var(--btn-color1), var(--btn-color2) 76%);
}

.home .normal-btn:hover,
.btn-dark:hover {
  background: linear-gradient(to top, var(--btn-color1-light), var(--btn-color2-light) 76%);
}

.Auth-box .google-btn {
  font-family: IRANSans, sans-serif;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  width: 100%;
  padding: 9px;
  border: solid 2px var(--btn-color1);
  color: var(--font-light);
  background: transparent;
  transition: 150ms;
  margin-top: 20px;
  cursor: pointer;
}

.Auth-box .google-btn:hover {
  /*border: solid 4px #f9b900;*/
  border-color: var(--btn-color1);
  background: transparent;
}

.google-icon {
  position: absolute;
  left: 20px;
  top: 6px;
  height: 70%;
}

.checkbox1 {
  width: 18px;
  height: 20px;
  position: absolute;
  top: auto;
  right: 0;
  bottom: auto;
}
.checkbox1 label {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px var(--btn-color1) solid;
  background: transparent;
  border-radius: 3px;
}
.checkbox1 label:after {
  content: "";
  width: 10px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 3px;
  border: 3px solid var(--border-dark);
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.checkbox1 label:hover::after {
  opacity: 0.5;
}
.checkbox1 label:hover {
  background-color: var(--hover-light);
}
.checkbox1 input[type=checkbox] {
  visibility: hidden;
}
.checkbox1 input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.checkbox1 input[type=checkbox]:checked + label {
  background-color: var(--btn-color1);
}

/*# sourceMappingURL=style.css.map */
